@tailwind base;
@tailwind components;
@tailwind utilities;

/* Image upload CSS */

.file-upload {
  background-color: #ffffff;
  margin: 0 auto;
  /* padding: 20px; */
  margin-bottom: 30px;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #007bff;
  position: relative;
}

.image-upload-wrap:hover {
  background-color: #adb8c4;
  border: 4px dashed #ffffff;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  color: #007bff;
  padding: 60px 0;
}

.select-img-bar,
.added-img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.upload-product {
    margin: 30px 0;
}

.inline-span {
  display: inline-block;
  margin-right: 20px;
}

.file-type-color {
  background-color: #007bff;
  color: white;
  padding: 15px 4px;
  border-top-right-radius: 10px;
}

.file-spec {
  font-size: 13px;
}

.selected-show-image-crose {
  font-size: 20px;
}

.cross {
    cursor: pointer;
}
